
row {
  padding: 0.5rem;
  label {
    margin-left: 0.8rem;
  }
}

.symbolic {
  -gtk-icon-style: symbolic;
}

.qs-popup {
  contents {
    padding: 0px;
  }

  navigation-view-page {
    padding: 0.5rem;
  }

}

cava {
  color: #{"@accent_bg_color"};
  min-height: 10rem;
  min-width: 10rem;
  margin: -0.5rem;
}


.mpris-player {
  min-height: 8rem;
  border-radius: 0.8rem;

  overlay > box {
    padding: 0.3rem;
    background-image: linear-gradient(
	  	rgba(0, 0, 0, 0),
	  	#{"alpha(@view_bg_color, 0.7)"});

    label {
      text-shadow: 
      	0.05rem 0.05rem 0.15rem #{"@view_bg_color"},
		    0 0 1.2rem #{"@view_bg_color"},
    		0 0 0.4rem #{"@view_bg_color"};
    }
    image {
      -gtk-icon-shadow: 
      		0.05rem 0.05rem 0.15rem #{"@view_bg_color"}, 
      		0 0 1.2rem #{"@view_bg_color"},
      		0 0 0.4rem #{"@view_bg_color"};
    }
    button {
      background-color: transparent;
    }
  }
}


