
tag {
  margin: 0.2rem 0 0.2rem 0;
  min-width: 0.7rem;
  min-height: 0.7rem;
  border: 0.1rem solid var(--sidebar-bg-color);
  background-color: transparent;
  border-radius: 1rem;

  &.occupied {
    background-color: var(--sidebar-bg-color);
  }

  &.focused {
    background-color: var(--accent-bg-color);
    border: 0.1rem solid var(--accent-bg-color);
  }

  &.urgent {
    border: 0.1rem solid var(--destructive-bg-color);
  }
}
