@use "sass:meta";

* {
  font-family: "CaskaydiaCove Nerd Font";
}

headerbar > windowhandle > box {
  padding-right: 0;
  padding-left: 0;
}

@each $spacing in (3, 6) {
  .spacing-#{$spacing} {
    &.vertical > *:not(:last-child) {
      margin-bottom: calc($spacing/10 * 1rem);
    }
    // should be .horizontal, but setting classnames resets it
    &:not(.vertical) > *:not(:last-child) {
      margin-right: calc($spacing/10 * 1rem);
    }
  }
}

popover {
  > * {
    background: #{"@view_bg_color"};
  }
}

.scroll-list {
  border-radius: var(--window-radius);
}

@include meta.load-css("bar");
@include meta.load-css("tags");
@include meta.load-css("quicksettings");
@include meta.load-css("notifications");
