* {
  font-family: "CaskaydiaCove Nerd Font";
}

.half-font-size {
  font-size: 0.5rem;
}

headerbar > windowhandle > box {
  padding-right: 0;
  padding-left: 0;
}

@each $spacing in (3, 6) {
  .spacing-#{$spacing} {
    &.vertical > *:not(:last-child) {
      margin-bottom: calc($spacing/10 * 1rem);
    }
    // should be .horizontal, but setting classnames resets it
    &:not(.vertical) > *:not(:last-child) {
      margin-right: calc($spacing/10 * 1rem);
    }
  }
}

popover {
  > * {
    background: #{"@view_bg_color"};
  }
}

.scroll-list {
  border-radius: var(--window-radius);
}

.notification {
  background-color: #{"mix(@card_bg_color, @destructive_bg_color, var(--swipe_progress, 0))"};
  padding: 0;
  > box {
    padding: 0.3rem;
    background-color: #{"@card_bg_color"};
    border-radius: #{"calc(var(--swipe, 0)*var(--window-radius))"};
    label {
      margin-left: 0px;
    }
    button {
      background-color: transparent;
    }
    .notification-action {
      background-color: #{"@accent_bg_color"};
      color: #{"@accent_fg_color"};

      &:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 1px solid #{"mix(@accent_bg_color, @accent_fg_color, 0.10)"};
      }

      &:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:hover {
        background-color: #{"mix(@accent_bg_color, @accent_fg_color, 0.10)"};
      }
    }
  }
}

@import "bar";
@import "tags";
@import "quicksettings";
