
* {
  font-family: "CaskaydiaCove Nerd Font";
  font-size: 1.2rem;
}

window {
  background: transparent;
}

.tray-item {
  all: unset;
}

.tags, .tray-item, .clock, .qs-bar {
  padding: 0.4rem;
  background: @view_bg_color;
}

.qs-bar circular-progress {
  min-width: 1rem;
  min-height: 1rem;
  font-size: 0.1rem;
}

.qs-bar circular-progress icon {
  font-size: 0.7rem;
}

.clock, .tray {
  margin-bottom: 0.3rem;
}


.tags {
  padding: 0.3rem 0 0.3rem 0;
}

.tag {
  padding: unset;
  margin: 0.2rem 0 0.2rem 0;
  min-width: 0.7rem;
  min-height: 0.7rem;
  border: 1rem;
  border: 0.1rem solid @card_bg_color;
  background-color: transparent;
  border-radius: 1rem;
}

.tag.occupied {
  background-color: @card_bg_color;
}

.tag.focused {
  background-color: @accent_color;
  border: 0.1rem solid @accent_color;
}

separator {
  margin: 0.3rem 0;
}
